@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



main {
    padding: 16px;
    margin-bottom: 20px
}

h1 {
    color: #146152;
}

footer {
    padding: 24px;
    background-color: #b5cf66;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #ff5a34;
}

footer {
    margin-top: auto;
}

a {
    text-decoration: none;
    color: rgb(95, 163, 95);
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(0, 83, 0);
}

nav a {

    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.recipe {
    padding: 10px;
}

tr:nth-of-type(even) {
    background-color: lightgrey;
  }
